<!doctype html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>Name : <%=name%></p>
    <p>Email : <%=email%></p>
    <p>Mobile : <%=mobileNumber%></p>
    <p>company : <%=companyName%></p>
    <p>Message : <%=message%></p>
</body>

</html>